.header {
  &-wrapper {
    display: none;

    @media screen and (min-width: 990px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      padding: 7px 10px;
    }
  }
  &-top {
    font-size: 14px;
    background-color: transparent;
    @media screen and (min-width: 990px) {
      background-color: $headerColor;
    }
    .app {
      &-download {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        @media screen and (min-width: 990px) {
          display: none;
        }
      }
      &-logo {
        display: flex;
        align-items: center;
        gap: 20px;
        .logo-text {
          display: flex;
          flex-direction: column;
          gap: 3px;
          .small {
            font-size: 10px;
            color: $grayColor;
          }
        }
      }
    }
  }
  &-bottom {
    .header-wrapper {
      display: block;
    }
  }
  &-title {
    p {
      color: $grayColor;
      display: none;
    }
    @media screen and (min-width: 1200px) {
      p {
        display: block;
      }
    }
  }
  &-about {
    display: flex;
    align-items: center;
    gap: 13px;
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $grayColor;
      &:hover {
        color: $blackColor;
      }
    }
  }
  &-flat {
    position: relative;

    @media screen and (min-width: 990px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px 0;
      gap: 20px;
    }
  }
  &-logo {
    img {
      width: 155px;
      display: none;
      @media screen and (min-width: 990px) {
        display: block;
      }
      @media screen and (min-width: 1200px) {
        width: 215px;
      }
    }
  }
  &-search {
    width: 100%;
    display: flex;
    gap: 14px;
    align-items: center;
    button {
      display: none;
      padding: 10px 15px;
      color: #5c5cd6;
      background-color: $primaryBackground;
      &:hover {
        background-color: $primaryBackgroundHover;
      }
    }
    input {
      flex: 1 1 auto;
      padding: 10px 40px;
      width: 100%;
      border-radius: 6px;
      font-size: 14px;
      background-color: $headerColor;
      border: 1px solid #cacaca;

      @media screen and (min-width: 990px) {
        background-color: transparent;
        padding: 10px;
        border: 1px solid (220, 4%, 48%, 0.3);
      }
    }
    @media screen and (min-width: 990px) {
      button {
        display: flex;
      }
    }
  }
  &-user {
    display: none;
    @media screen and (min-width: 990px) {
      display: flex;
      gap: 3px;
      p {
        display: none;
      }
    }

    @media screen and (min-width: 1200px) {
      p {
        display: block;
      }
    }
  }
  &-nav {
    display: none;
    @media screen and (min-width: 990px) {
      display: block;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-menu {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 11;
      background-color: #fff;
      @media screen and (min-width: 990px) {
        top: 60px;
        display: none;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100vw;
      padding: 10px 0;
      @media screen and (min-width: 990px) {
        flex-basis: 20%;
      }
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          width: 24px;
        }
        @media screen and (min-width: 990px) {
          gap: 10px;
          padding: 0px 10px;
          border-radius: 4px;
          &:hover {
            background-color: #62656a2c;
            p {
              color: $primaryColor;
            }
          }
        }
      }
      p {
        padding: 15px 0;
        font-size: 13px;
        width: 100%;
        border-bottom: 2px solid #62656a2f;
        @media screen and (min-width: 990px) {
          border-bottom: transparent;
        }
      }
    }
    .top {
      a {
        color: $blackColor;
      }
    }
    &-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 80%;
      width: 100vw;
      height: 100vh;
      padding: 20px;

      .nav-inner {
        display: flex;
        flex-direction: column;
        flex-basis: 10%;
        padding: 17px 0;
      }
      .inner-list {
        padding: 17px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .inner-item {
        font-weight: 600;
        font-size: 17px;
        &:hover {
          color: $primaryColor;
        }
      }
      .list-item {
        font-size: 13px;
        &:hover {
          color: $primaryColor;
        }
      }
    }
    &-title {
      font-weight: 600;
      font-size: 20px;
      &:hover {
        color: $primaryColor;
      }
    }
    li.line {
      position: relative;
      overflow: hidden;
      padding: 10px 0;
      :hover:after {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      :after {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: #141415;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        opacity: 0;
        -webkit-perspective: 1000;
        perspective: 1000;
        position: absolute;
        text-align: center;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
        transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease,
          -webkit-transform 0.5s ease;
        width: 100%;
      }
      &:nth-child(8) {
        display: none;
        @media screen and (min-width: 1200px) {
          display: block;
        }
      }
      &:nth-child(9) {
        display: none;
        @media screen and (min-width: 1200px) {
          display: block;
        }
      }
      &:nth-child(10) {
        display: none;
        @media screen and (min-width: 1200px) {
          display: block;
        }
      }
      a {
        color: $grayColor;
        &:hover {
          color: $blackColor;
        }
      }
    }

    .top {
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 3px;
      img {
        width: 25px;
      }
    }
  }
  &-mobile {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #fff;
    z-index: 13;
    overflow: hidden;
    border-top: 1px solid #62656a;
    width: 100%;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        &:hover {
          img {
            filter: brightness(0) saturate(100%) invert(14%) sepia(91%)
            saturate(7430%) hue-rotate(269deg) brightness(93%) contrast(129%);
        
          }
          p {
            color: $primaryColor;
          }
        }
        img {
          width: 24px;
          text-align: center;
          filter: brightness(0) saturate(100%) invert(41%) sepia(8%)
            saturate(264%) hue-rotate(179deg) brightness(92%) contrast(94%);
        }
        p {
          font-size: 12px;
          color: $grayColor;
          
        }
      }
    }
    @media screen and (min-width: 990px) {
      display: none;
    }
  }
}
.search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  &-img {
    position: absolute;
    left: 10px;
    background: transparent;
    filter: brightness(0) saturate(100%) invert(41%) sepia(8%) saturate(264%)
      hue-rotate(179deg) brightness(92%) contrast(94%);
    @media screen and (min-width: 990px) {
      display: none;
    }
  }
  button {
    position: absolute;
    right: 0;
    background: transparent;
    &:hover {
      background-color: transparent;
    }
  }
  @media screen and (min-width: 990px) {
  }
}
.catalog-icon {
  margin-right: 8px;
}
.catalog-icon .rect {
  background: #5c5cd6;
  border: 2px solid #5c5cd6;
  border-radius: 2px;
  box-sizing: border-box;
  height: 12px;
  left: 50%;
  position: absolute;
  top: 9px;
  transform: translate(-50%);
  transition: all 0.11s ease-out 0.11s, transform 0.11s ease-out 0.001ms;
  width: 18px;
}
.catalog-icon .rect .inner {
  background-color: var(--out);
  border-radius: 1px;
  height: 100%;
  margin: auto;
  transition: all 0.11s ease-out 0.11s;
  width: 100%;
}
.catalog-icon .top {
  top: 3px;
  transition: all 0.11s ease-out 0.11s, opacity 0.001ms 0.11s;
  width: 13.991999999999999px;
}
.catalog-icon .bottom,
.catalog-icon .top {
  border-top: 2px solid #5c5cd6;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.catalog-icon .bottom {
  background: #5c5cd6;
  top: 6px;
  transition: all 0.11s ease-out 0.11s, transform 0.11s ease-out 0.001ms;
  width: 15.984000000000002px;
}
.catalog-icon {
  --out: #fff;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}
.location {
  display: flex;
  align-items: center;
  p {
    font-size: 13px;
    margin-right: 27px;
    a {
      color: $blackColor;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  a {
    color: $blackColor;
  }
}
