.wrapper {
  display: flex;
  background-color: $backgroundColor;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  font-family: "Inter";
}
.container {
  width: 95%;
  margin: 0 auto;
  @media screen and (min-width: 990px) {
    width: 92%;
  }
  @media screen and (min-width: 1200px) {
    width: 88%;
  }
}
.page {
  position: relative;
  flex: 1 1 auto;
  .title {
    font-size: 25px;
    padding-top: 20px;
  }
}

.btn {
  line-height: 18px;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 5px;
  &:hover {
    background-color: $headerColor;
  }
  &.primary {
    background-color: $primaryColor;
    color: $whiteColor;
    font-weight: 700;
    padding: 8px 17px;
    border-radius: 9px;
  }
  &.success {
    border: 1px solid $primaryColor;
    color: $primaryColor;
    font-weight: 700;
    padding: 8px 17px;
    border-radius: 9px;
  }
}
.slider {
  padding: 20px 0;
  &-inner {
    &-item {
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }
}

.offer {
  &-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    a.title {
      font-size: 25px;
      font-weight: 600;
      color: $blackColor;
    }
  }
}
.cart {
  &-head {
    font-size: 17px;
    padding: 0 0 30px 0;
    span {
      color: $grayColor;
    }
  }
}
.wishes {
  .offer-inner {
    display: flex;
    gap: 30px;
    padding: 20px 0;
    .offer-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 20px 0;
      border-bottom: 1px solid #62656a33;
      @media screen and (min-width: 990px) {
       flex-direction: row;
       padding: 0;
      }
    }
    .offer-form {
      display: flex;
      gap: 20px;
      align-items: center;
      label {
        font-size: 14px;
        color: $grayColor;
      }
      select {
        padding: 5px;
        border: 1px solid #62656a33;
        font-size: 17px;
      }
    }
    a.title {
      font-size: 25px;
      font-weight: 600;
      color: $blackColor;
      padding-bottom: 20px;
    }
  }
}
.card {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13px;
  }
  &-item {
    padding: 15px 0;
    width: 48%;
    a {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    @media screen and (min-width: 990px) {
      width: 23%;
    }
  }
  &-img {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 11;
      img {
        &:hover {
          filter: brightness(0) saturate(100%) invert(18%) sepia(75%)
            saturate(7457%) hue-rotate(356deg) brightness(91%) contrast(123%);
        }
      }
    }
  }
  &-title {
    font-size: 14px;
  }
  &-rating {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: $grayColor;
  }
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    padding: 3px;
    border-radius: 50%;
    border: 1px solid rgba(51, 51, 51, 0.219);
    img {
      width: 20px;
    }
    &:hover {
      background-color: rgba(51, 51, 51, 0.219);
    }
  }
}

.credits {
  font-size: 11px;
  background-color: yellow;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 12px;
  &-old {
    color: $grayColor;
    text-decoration: line-through;
  }
  &-new {
    color: $blackColor;
    font-weight: 600;
  }
}

.page {
  .link {
    padding: 10px 0;
    a {
      font-size: 13px;
      color: $grayColor;
      &:hover {
        color: $blackColor;
      }
    }
  }
  .category-wrapper {
    padding: 10px 0;
    .title {
      h1 {
        padding: 20px 0;
        font-size: 17px;
        color: $blackColor;
      }
    }
    .category-box {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 990px) {
        flex-direction: row;
      }
      .category-sidebar {
        width: 100%;
        .sidebar-title {
          margin: 20px 0;
        }
        .sidebar-inner {
          a {
            padding: 5px;
            font-size: 15px;
            border-radius: 5px;
            color: $grayColor;
            &:hover {
              background-color: #62656a17;
              color: $blackColor;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }
        }
        .sidebar-price {
          display: flex;
          gap: 10px;
          input {
            width: 40%;
            border: 1px solid #62656a54;
            padding: 7px;
            border-radius: 7px;
          }
        }
        .sidebar-color {
          display: flex;
          flex-direction: column;
          gap: 13px;
          align-items: flex-start;
          a,
          button {
            background-color: #fff;
          }
          span {
            padding: 2px 9px;
            border-radius: 50%;
            border: 1px solid #62656a5d;
          }
          .white {
            background-color: #fff;
          }
          .black {
            background-color: #333;
          }
          .gray {
            background-color: $grayColor;
          }
        }
        .sidebar-checkbox {
          display: flex;
          flex-direction: column;
          gap: 13px;
          span {
            font-size: 15px;
          }
        }
      }
      .category-inner {
        .inner-title {
          padding: 20px 0;
          h1 {
            font-size: 27px;
            margin-bottom: 5px;
          }
          span {
            color: $grayColor;
            font-size: 13px;
          }
        }
        .inner-filter {
          display: flex;
          gap: 15px;
          padding: 10px 0;
          .filter-elem {
            background-color: #62656a17;
            padding: 20px;
            border-radius: 7px;
            &:hover {
              background-color: #62656a23;
            }
          }
        }
        .inner-sort {
          span {
            color: $grayColor;
            font-size: 13px;
          }
        }
      }
    }
  }
  .product-inner {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    .product-top {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media screen and (min-width: 990px) {
        flex-direction: row;
      }
    }
    .product-img {
      width: 100%;
      padding: 20px 0;
      @media screen and (min-width: 990px) {
        padding: 0 20px 0 0;

        width: 40%;
      }
      img {
        width: 100%;
      }
    }
    .product-info {
      @media screen and (min-width: 990px) {
        width: 50%;
      }
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
.product-bottom {
  .product-more {
    @media screen and (min-width: 990px) {
      padding: 0 400px;
    }
    padding: 0 20px;
    border-bottom: 1px solid #62656a54;
    border-top: 1px solid #62656a54;
    ul {
      display: flex;
      padding: 30px 0;
      align-items: center;
      gap: 30px;
      position: relative;
    }

    .active {
      color: $primaryColor;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 65px;
        height: 3px;
        background-color: $primaryColor;
      }
    }
  }
  .product-feedback {
    @media screen and (min-width: 990px) {
      padding: 30px 400px;
    }
    padding: 20px;
    .title {
      display: flex;
      gap: 10px;
      padding-bottom: 20px;

      h1 {
        font-size: 25px;
      }
      span {
        font-size: 25px;
        color: $grayColor;
      }
    }
  }

  .feedback-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;

    .feedback-name {
      padding: 20px 0;
      border-top: 1px solid #62656a54;
    }
    .feedback-rating {
      display: flex;
      align-items: center;
      span {
        padding-left: 5px;
        color: $grayColor;
        font-size: 13px;
      }
    }
    .feedback-img {
      img {
        width: 150px;
        border-radius: 5px;
      }
    }
  }
}
.product-similar {
  .title {
    font-size: 25px;
    font-weight: 600;
  }
}

.product-info {
  .product-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    .rating-ball {
      display: flex;
      align-items: center;
      span {
        color: $grayColor;
        font-size: 13px;
      }
      .rating-order {
        margin-left: 15px;
      }
    }
    .rating-wishes {
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        span {
          font-size: 14px;
        }
      }
    }
  }
  .product-name {
    h1 {
      font-size: 23px;
    }
  }
  .product-provider {
    padding: 10px 0;
    border-bottom: 1px solid #62656a38;
    .provider-form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 10px 0;
      font-size: 14px;
      a {
        text-decoration: underline;
      }
      p {
        color: $grayColor;
      }
      @media screen and (min-width: 990px) {
        width: 45%;
      }
    }
  }
  .product-filter {
    h3 {
      font-size: 14px;
      padding: 20px 0;
      span {
        padding-left: 5px;
        font-weight: 700;
        font-size: 14px;
      }
    }
    .filter-form {
      display: flex;
      flex-direction: column;
      button {
        padding: 10px;
        font-size: 14px;
        border-radius: 7px;
        background-color: #fff;
        border: 3px solid $blackColor;
      }
      &-list {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
    .filter-quantity {
      padding-bottom: 20px;
      input {
        border: 1px solid #62656a38;
        padding: 10px;
        font-size: 14px;
      }
    }
  }
  .product-price {
    h3 {
      font-size: 14px;
      padding-bottom: 10px;
    }
    &-info {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      .new {
        font-size: 20px;
      }
      .old {
        color: $grayColor;
        text-decoration: line-through;
        font-size: 15px;
      }
    }
  }
  &-credit {
    padding: 30px 0;
    button {
      text-align: start;
      width: 100%;
      font-size: 15px;
      padding: 10px;
      background-color: #62656a10;
      &:hover {
        background-color: #62656a23;
      }
    }
    .yellow {
      background-color: yellow;
      padding: 5px 8px;
      border-radius: 7px;
      font-weight: 700;
    }
  }
  .product-action {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .btn-group {
      display: flex;
      justify-content: space-between;
      .btn {
        display: flex;
        justify-content: center;
        flex-basis: 49%;
        font-size: 17px;
        padding: 20px;
      }
    }
  }
  .action-info {
    background: rgba(255, 228, 51, 0.3);
    border-radius: 8px;
    padding: 12px 0 12px 48px;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .product-description {
    font-size: 14px;
    h3 {
      padding-bottom: 10px;
      font-size: 14px;
    }
    padding: 50px 0;
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    li {
      font-size: 14px;
      list-style: disc;
      margin-left: 20px;
    }
  }
}

.user {
  &-inner {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 990px) {
      flex-direction: row;
    }
  }
  &-sidebar {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    padding: 20px 0;
    @media screen and (min-width: 990px) {
      width: 25%;
      padding: 0;
      flex-direction: column;
    }
    a {
      color: $grayColor;
      &:hover {
        color: $blackColor;
      }
    }
  }
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 990px) {
      width: 75%;
    }
  }
  &-order {
    &-sort {
      display: flex;
      li {
        padding: 10px;
        border: 1px solid #62656a1e;
        &.active {
          background-color: #62656a33;
        }
        &:hover {
          background-color: #62656a10;
        }
      }
    }
  }
  .order {
    &-info {
      border: 1px solid #62656a54;
      padding-bottom: 15px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &-num {
      border: 1px solid #62656a54;
      padding: 15px;
      font-size: 17px;
      font-weight: 600;
    }
    &-form {
      padding: 10px 15px;
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      @media screen and (min-width: 990px) {
        flex-wrap: nowrap;
      }
      span {
        width: 25%;
        color: $grayColor;
        @media screen and (min-width: 990px) {
          width: 250px;
        }
      }
    }
    &-status {
      background-color: #62656a54;
      padding: 3px;
      border-radius: 4px;
      width: auto;
      color: $grayColor;
    }
    &-check {
      padding: 15px;
      font-size: 14px;
      text-decoration: underline;
    }
    &-inner {
      border: 1px solid #62656a54;
      display: flex;
      justify-content: flex-start;
      padding: 15px;
      width: 100%;
      &-item {
        li {
          border: 1px solid #62656a54;
          display: flex;
          flex-direction: column;
          @media screen and (min-width: 990px) {
            flex-direction: row;
          }
        }
        .order-form {
          span {
            width: 180px;
            @media screen and (min-width: 990px) {
              width: 130px;
            }
          }
        }
      }
    }
    &-img {
      padding: 15px;
      width: 100%;
      img {
        width: 100%;
        border-radius: 6px;
      }
      @media screen and (min-width: 990px) {
        width: 15%;
      }
    }
    &-description {
      width: 100%;
      @media screen and (min-width: 990px) {
        width: 65%;
      }
    }
    &-feedback {
      padding: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (min-width: 990px) {
        flex-direction: column;
      }
      span {
        font-size: 14px;
        color: $grayColor;
      }
      a {
        font-size: 14px;
        color: $primaryColor;
      }
    }
  }
  &-data {
    padding: 15px;
    border: 1px solid #62656a33;
    width: 100%;
    h1 {
      font-size: 20px;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
    .flex-box {
      display: flex;
      gap: 7px;
      padding-bottom: 30px;
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid #62656a33;
      @media screen and (min-width: 990px) {
        flex-direction: row;
        align-items: center;
      }
    }
    .user-form {
      display: flex;
      gap: 6px;
      flex-direction: column;

      label {
        font-size: 14px;
        color: $grayColor;
      }
      input {
        border: 1px solid #62656a33;
        padding: 6px;
        font-size: 14px;
        border-radius: 4px;
        width: fit-content;
      }
      .user-order-sort {
        li {
          font-size: 14px;
        }
      }
    }
    .justify-space {
      display: flex;
      justify-content: space-between;
      .btn {
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
}


.cart {
  &-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: 990px) {
      flex-direction: row;
    }
  }
  &-basket {
    width: 100%;
    border: 1px solid #62656a33;
    padding: 15px;
    @media screen and (min-width: 990px) {
      width: 70%;
    }
  }
  &-paper {
    border: 1px solid #62656a33;
    padding: 15px;
    width: 100%;
    @media screen and (min-width: 990px) {
      width: 29%;
    }
  }
  .basket-head {
    padding: 10px 0 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #62656a33;
    flex-direction: column;
    @media screen and (min-width: 990px) {
      flex-direction: row;
      justify-content: space-between;
    }
    .cart-form {
      display: flex;
      gap: 6px;
      align-items: center;
      label {
        font-size: 14px;
      }
    }
    .basket-info {
      padding: 20px 0;
      @media screen and (min-width: 990px) {
        padding: 0;
        width: fit-content;
      }
      p{
        font-size: 14px;
        color: $grayColor;
        span {
          padding: 3px;
          color: $primaryColor;
          border: 1px solid $primaryColor;
        }
      }
    }
  }
  .basket-list {
    .basket-item {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #62656a33;
      padding: 20px 0;
      @media screen and (min-width: 990px) {
        flex-direction: row;
      }
    }
    .basket-check {
      display: none;
      @media screen and (min-width: 990px) {
        display: block;
        justify-content: center;
        align-items: center;
      }
    }

    .basket-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 6px;
      
      &-img {
        width: 28%;
        img {
          height: 110px;
          padding: 10px  20px;
        }
        @media screen and (min-width: 990px) {
          display: none;
        }
      }
      &-check {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @media screen and (min-width: 990px) {
          display: none;
        }
      }
    }

    .basket-img {
      display: none;
      img {
        height: 140px;
        padding: 10px  20px;
      }
      @media screen and (min-width: 990px) {
        display: block;
      }
    }

    .basket-name {
      display: flex;
      padding: 18px 0 7px 0;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;
      width: 70%;
      @media screen and (min-width: 990px) {
        flex-direction: row;
        gap: 0;
        width: 100%;
      }
      button {
        color: $grayColor;
        font-size: 15px;
        background-color: transparent;
        display: flex;
        align-items: center;
        img {
          padding-right: 5px;
          filter: brightness(0) saturate(100%) invert(41%) sepia(11%) saturate(220%) hue-rotate(178deg) brightness(89%) contrast(86%);
        }
        &:hover {
          color: $blackColor;
          img {
            filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(3953%) hue-rotate(20deg) brightness(92%) contrast(85%);
          }
        }
      }
    }

    .basket-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7px 0;
      flex-direction: column;
      gap: 6px;
      flex-basis: 100%;
      @media screen and (min-width: 990px) {
        flex-direction: row;
        gap: 0;
        text-align: center;
      }
      .basket-form {
        font-size: 14px;
        &-inner {
          display: flex;
          padding: 5px 0;
          text-align: start;
          span {
            width: 130px;
            color: $grayColor;
          }
        }
      }
      .basket-count {
        input {
          border: 1px solid #333;
          padding: 7px;
        }
      }
      .basket-price-info {
        .old {
          font-size: 15px;
          color: $grayColor;
          text-decoration: line-through;
        }
        .new {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

  .paper-delivery {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #62656a33;
    padding-bottom: 6px;
    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid $primaryColor;
      margin: 20px 0;
      p {

        color: $primaryColor;
        font-size: 14px;
      }
    }
    .delivery-img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
      img {
        border: 2px solid #16CA4E;
        border-radius: 50%;
        padding: 5px;
      }
    }
    .delivery-info {
      font-size: 14px;
      display: flex;
      width: 70%;
      padding: 10px;
      flex-direction: column;
      gap: 10px;
      .strong {
        font-weight: 600;
      }
      .small {
        font-size: 13px;
        color: $grayColor;
      }
    }
  }

  .paper-info {
    h1{
      font-weight: 600;
      padding: 10px 0 20px 0;
    }
    .paper-head {
      display: flex;
      font-size: 14px;
      justify-content: space-between;
      padding: 10px 0;
    }
    .paper-result {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px 0;
      h1 {
        font-size: 14px;
      }
    }
    .paper-price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;
      h1 {
        padding: 0;
        font-size: 18px;
      }
      span {
        color: #16CA4E;
        font-size: 14px;
      }
    }
    .btn {
      width: 100%;
      font-size: 17px;
      display: flex;
      justify-content: center;
      padding: 15px;
    }
  }
}