
.wrapper {
  display: flex;
  background-color: $backgroundColor;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  font-family: "Inter";
}
.container {
  width: 95%;
  margin: 0 auto;
  @media screen and (min-width: 990px) {
    width: 92%;
  }
  @media screen and (min-width: 1200px) {
    width: 88%;
  }
}
.page {
  position: relative;
  flex: 1 1 auto;
}

.btn {
  line-height: 18px;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 5px;
  &:hover {
    background-color: $headerColor;
  }
  &.primary {
    background-color: $primaryColor;
    color: $whiteColor;
    font-weight: 700;
    padding: 8px 17px;
    border-radius: 9px;
  }
}
.slider {
  padding: 20px 0;
  &-inner {
    &-item {
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }
}

.offer {
  &-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    a.title {
      font-size: 25px;
      font-weight: 600;
      color: $blackColor;
    }
  }
}

.card {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13px;
  }
  &-item {
    padding: 15px 0;
    width: 48%;
    a {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    @media screen and (min-width: 990px) {
      width: 23%;
    }
  }
  &-img {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 11;
      img{
        &:hover {
          filter: brightness(0) saturate(100%) invert(18%) sepia(75%) saturate(7457%) hue-rotate(356deg) brightness(91%) contrast(123%);
        }
      }
    }
  }
  &-title {
    font-size: 14px;
  }
  &-rating {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: $grayColor;
  }
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    padding: 3px;
    border-radius: 50%;
    border: 1px solid rgba(51, 51, 51, 0.219);
    img {
      width: 20px;
    }
    &:hover {
      background-color: rgba(51, 51, 51, 0.219);
    }
  }
}

.credits {
  font-size: 11px;
  background-color: yellow;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 12px;
  &-old {
    color: $grayColor;
    text-decoration: line-through;
  }
  &-new {
    color: $blackColor;
    font-weight: 600;
  }
}