

$primaryColor: #6e00ff;
$primaryColorText: #33c;
$primaryBackground:rgba(49,49,196,.1);
$primaryBackgroundHover:rgba(49, 49, 196, 0.192);
$blackColor: #131313;
$grayColor: #62656a;
$grayColorText: rgba(0,0,0,.7);
$headerColor: #e4e4e4;
$yellowColor: rgb(255, 255, 0);
$backgroundColor:#fff;
$whiteColor: #fff;
$firstAccentColor:#62656a;
